.wg-card {
   width: var(--width);
   height: var(--height);
   position: relative;

   .card-side {
      border-radius: 5px;
   }

   .wg-card-spell-back {
      background: url("img/spell-back.jpg");
      background-size: var(--width) var(--height);
      background-position: 100% 0%;
   }

   .wg-card-mana-front {
      background: url("img/mana-front.jpg");
      background-size: calc(var(--width) * 4) var(--height);

      @for $col from 0 through 3 {
         &[data-type="#{($col + 1)}"] {
            background-position: ($col * -100%) (0%);
         }
      }
   }

   .wg-card-gametext {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 108px;
      height: 48px;
      top: 140px;
      left: 18px;
      gap: 2px;

      .wg-card-gametext-title {
         font-family: RoughAntiquaAllCaps;
         font-size: 8px;
         line-height: 8px;
         text-align: center;
      }

      .wg-card-gametext-divider {
         height: 4px;
         background-image: url(img/spritesheet.png);
         background-size: 300px 20px;
         width: 53px;
      }

      .wg-card-gametext-text {
         font-family: BrushSerifEdward;
         font-size: 7px;
         line-height: 8px;
         text-align: center;
         p {
            margin: 2px 0 0 0;
         }
      }
   }

   .wg-card-mana-back {
      background: url("img/mana-back.jpg");
      background-size: var(--width) var(--height);
      background-position: 100% 0%;
   }
}

.wg-card .wg-card-spell-front,
.wg-tooltip-card .wg-card {
   background: url("img/spell-front.jpg");
   background-size: calc(var(--width) * 10) calc(var(--height) * 7);

   @for $row from 0 through 6 {
      @for $col from 0 through 9 {
         &[data-type="#{($row * 10) + ($col + 1)}"] {
            background-position: ($col * -100%) ($row * -100%);
         }
      }
   }
}

.help-marker {
   position: absolute;
   right: 5px;
   top: 5px;
   padding: 2px;
   cursor: zoom-in !important;
   pointer-events: initial !important;
   user-select: initial !important;
   font-size: 20px;
}

.wg-tooltip-card {
   display: contents;
   gap: 15px;
   --width: 160px;
   --height: 224px;

   .wg-tooltip-left {
      max-width: 260px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .wg-tooltip-header {
         font-family: RoughAntiquaAllCaps;
         font-size: 16px;
         border-bottom: 2px solid black;
         text-align: center;
         padding: 3px;
      }

      .wg-tooltip-cost {
         font-size: 14px;
         font-family: BrushSerifEdward;
      }

      .wg-tooltip-gametext {
         padding: 0 3px;
         border-radius: 5px;
         text-align: center;
         font-family: BrushSerifEdward;
      }
   }
}

.bga-cards_selected-card .front {
   animation: pulseSelectable 1.5s infinite alternate;
}

.wg-selected .front {
   box-shadow: inset 0 0 6px 5px #00ffff !important;
}

.wg-deck-selected,
.wg-deck-selected .front,
.wg-deck-selected .back {
   animation: pulseSelectable 1.5s infinite alternate;
}

.wg-deck-was-selected,
.wg-deck-was-selected .front,
.wg-deck-was-selected .back {
   box-shadow: inset 0 0 6px 5px #00ffff !important;
}

@keyframes pulseSelectable {
   0% {
      box-shadow: inset 0 0 3px 5px #00ffff;
   }

   to {
      box-shadow: inset 0 0 10px 5px #0885c3;
   }
}

@keyframes flipCard {
   0% {
      transform: perspective(20em) rotateY(-10deg) scale(1.5);
   }
   to {
      transform: perspective(20em) scale(1.6);
   }
}

.wg-ongoing-spell-growth {
   .wg-mana-icon.wg-icon-growth {
      display: inline-flex;
   }
}

.wg-mana-icon {
   display: none;
   background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E circle%7Bstroke:url(%23MyGradient)%7D %3C/style%3E%3Cdefs%3E%3ClinearGradient id='MyGradient'%3E%3Cstop offset='25%25' stop-color='%23BF9537' /%3E%3Cstop offset='95%25' stop-color='%23F2CD55' /%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle cx='50' cy='50' r='40' fill='black' stroke='yellow' stroke-width='10'/%3E%3C/svg%3E");
   background-size: 30px 30px;
   height: 30px;
   width: 30px;
   line-height: 30px;
   justify-content: center;
   color: white;
   position: absolute;
   left: 3px;
   top: 3px;
}

.bga-cards_deck-counter {
   z-index: 200 !important;
}
