.wg-card {
   width: var(--width);
   height: var(--height);
   position: relative;

   .card-side {
      border-radius: 5px;
   }

   .wg-card-spell-back {
      background: url("img/spell-back.jpg");
      background-size: var(--width) var(--height);
      background-position: 100% 0%;
   }

   .wg-card-mana-front {
      background: url("img/mana-front.jpg");
      background-size: calc(var(--width) * 4) var(--height);
      text-align: center;

      @for $col from 0 through 3 {
         &[data-type="#{($col + 1)}"] {
            background-position: ($col * -100%) (0%);
         }
      }
   }

   .wg-card-mana-back {
      background: url("img/mana-back.jpg");
      background-size: var(--width) var(--height);
      background-position: 100% 0%;
   }
}

.wg-card .wg-card-spell-front,
.wg-tooltip-card .wg-card {
   background: url("img/spell-front.jpg");
   background-size: calc(var(--width) * 10) calc(var(--height) * 7);

   @for $row from 0 through 6 {
      @for $col from 0 through 9 {
         &[data-type="#{($row * 10) + ($col + 1)}"] {
            background-position: ($col * -100%) ($row * -100%);
         }
      }
   }
}

.help-marker {
   position: absolute;
   right: 0;
   margin: 3px 3px 0 0;
   cursor: help !important;
   pointer-events: initial !important;
   user-select: initial !important;
}

.wg-tooltip-card {
   display: contents;
   min-width: 250px;
   max-width: 300px;
   gap: 15px;
   --width: 160px;
   --height: 224px;

   .wg-tooltip-left {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .wg-tooltip-header {
         font-size: 18px;
         font-style: italic;
         font-weight: bold;
         border-bottom: 2px solid black;
         text-transform: uppercase;
      }

      .wg-tooltip-cost {
         font-size: 14px;
         font-weight: bold;
         font-style: italic;
      }

      .wg-tooltip-gametext {
         padding: 0 5px;
         border-radius: 5px;
         text-align: center;
         max-width: 200px;
      }
   }
}

.bga-cards_selected-card .front {
   animation: pulseSelectable 1.5s infinite alternate;
}

.wg-selected .front {
   box-shadow: inset 0 0 6px 5px #00ffff !important;
}

@keyframes pulseSelectable {
   0% {
      box-shadow: inset 0 0 3px 5px #00ffff;
   }

   to {
      box-shadow: inset 0 0 10px 5px #0885c3;
   }
}

@keyframes flipCard {
   0% {
      transform: perspective(20em) rotateY(-10deg) scale(1.5);
   }
   to {
      transform: perspective(20em) scale(1.6);
   }
}
