.player-table {
   padding-top: 30px;
   border-radius: 8px;
   position: relative;
   border: 3px solid var(--color);

   .spell-repertoire {
      --width: 110px;
      --height: 154px;

      .wg-spell-slot {
         width: var(--width);
         height: var(--height);
         border-radius: 5px;
         border: 1px solid darkslategray;
      }

      .wg-spell-slot:not(:empty) {
         border-color: transparent;
      }

      .wg-card-gametext {
         width: 88px;
         height: 48px;
         top: 111px;
         left: 13px;

         .wg-card-gametext-title {
            font-size: 6px;
            line-height: 6px;
         }

         .wg-card-gametext-divider {
            height: 4px;
         }

         .wg-card-gametext-text {
            font-size: 5px;
            line-height: 6px;
         }
      }
   }

   .wg-title {
      color: var(--color);
      padding: 3px 10px;
      margin: 0;
      top: -15px;
      left: 20px;
   }

   .wg-health {
      position: absolute;
      border: 3px solid var(--color);
      border-radius: 5px;
      padding: 3px 10px;
      font-weight: 600;
      top: -15px;
      right: 20px;
      background-color: white;
      display: flex;
      gap: 5px;

      .wg-health-icon {
         width: 18px;
         height: 18px;
         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='25' height='25'%3E%3Cpath d='M14.82 2.227c4.473.622 7.695 2.991 10.18 6.652 2.662-4.566 7.324-6.733 11.907-6.733 6.607 0 13.048 4.514 13.048 12.856 0 9.692-11.584 19.603-24.955 32.873C11.629 34.605.045 24.694.045 15.002.065 7.425 5.818 2.438 13.107 2.125l1.713.102z' style='fill: rgb(241, 0, 0);'%3E%3C/path%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-size: 18px 18px;
      }
   }

   .mana-cooldown {
      display: flex;
      justify-content: center;
      min-height: 160px;
      gap: 8px;
      margin: 10px 0;

      .mana-deck.deck {
         display: inline-block;
         width: 110px;
         height: 154px;
         border-radius: 5px;
         border: 1px solid blue;
         --width: 110px !important;
         --height: 154px !important;

         &[data-empty="false"] {
            border-color: transparent;
         }

         .wg-card {
            border-radius: 5px;
         }
      }
   }

   &.player-hand {
      margin-top: 20px;
      position: relative;
   }

   .hand {
      --width: 100px;
      --height: 140px;
      min-height: 150px;
      margin: 20px 0;

      &:has(:nth-child(10)),
      &:has(:nth-child(11)) {
         --card-overlap: 40px !important;
         --card-shift: 5px !important;
         --card-inclination: 5deg !important;
      }

      &:has(> :nth-child(12)) {
         --card-overlap: 50px !important;
         --card-shift: 4px !important;
         --card-inclination: 4deg !important;
      }
   }
}

.player-table-extra-icons {
   display: flex;
   gap: 4px;
   position: absolute;
   top: -11px;
   right: 95px;
   margin: -10px 0 0 0;

   .icon {
      width: 40px;
      height: 40px;
      background-image: url("img/spell-front.jpg");
      background-size: calc(100px * 10) calc(140px * 7);
      border-radius: 10px;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 1.15rem;
      cursor: pointer;
      display: none;
   }
}

.wg-ongoing-spell-battlevision {
   [data-battle_vision="false"] {
      .battlevision_icon {
         display: flex;
         border: 2px solid white;
         background-position-x: -840px;
         background-position-y: -730px;
      }
   }
}

.wg-ongoing-spell-growth {
   .growth_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -130px;
      background-position-y: -427px;
   }
}

.wg-ongoing-spell-lullaby {
   [data-lullaby="true"] {
      .lullaby_icon {
         display: flex;
         border: 2px solid white;
         background-position-x: -830px;
         background-position-y: -445px;
      }
   }
}

.wg-ongoing-spell-powerhungry {
   .powerhungry_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -45px;
      background-position-y: -849px;
   }
}

.wg-ongoing-spell-puppetmaster {
   [data-battle_vision="false"] {
      .puppetmaster_icon {
         display: flex;
         border: 2px solid white;
         background-position-x: -230px;
         background-position-y: -855px;
      }
   }
}

.wg-ongoing-spell-secretoath {
   [data-battle_vision="false"] {
      .secretoath_icon {
         display: flex;
         border: 2px solid white;
         background-position-x: -736px;
         background-position-y: -150px;
      }
   }
}

[data-discount-next-attack="1"] {
   .secondstrike_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -37px;
      background-position-y: -296px;
   }
}

[data-discount-next-spell="2"] {
   .haste_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -555px;
      background-position-y: -150px;
   }
}

.player-table-icon-tooltip {
   min-width: 250px;
   max-width: 350px;
}
