.player-table {
   padding-top: 20px;
   width: 732px;
   border-radius: 8px;

   .spell-repertoire {
      --width: 110px;
      --height: 154px;

      .wg-spell-slot {
         width: var(--width);
         height: var(--height);
         border-radius: 5px;
         border: 1px solid darkslategray;
      }

      .wg-spell-slot:not(:empty) {
         border-color: transparent;
      }
   }

   .wg-title {
      color: var(--color);
   }

   .mana-cooldown {
      display: flex;
      justify-content: center;
      min-height: 160px;
      gap: 8px;
      margin: 10px 0;

      .mana-deck.deck {
         display: inline-block;
         width: 110px;
         height: 154px;
         border-radius: 5px;
         border: 1px solid blue;
         --width: 110px !important;
         --height: 154px !important;

         &[data-empty="false"] {
            border-color: transparent;
         }

         .wg-card {
            border-radius: 5px;
         }
      }
   }

   &.player-hand {
      margin-top: 20px;
      position: relative;
   }

   .hand {
      --width: 100px;
      --height: 140px;
      min-height: 150px;
      margin-top: 20px;
   }
}

.player-table-extra-icons {
   display: flex;
   gap: 4px;
   position: absolute;
   top: -7px;
   right: 20px;
   margin: -10px 0 0 0;

   .icon {
      width: 40px;
      height: 40px;
      background-image: url("img/spell-front.jpg");
      background-size: calc(100px * 10) calc(140px * 7);
      border-radius: 10px;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 1.15rem;
      cursor: pointer;
      display: none;
   }
}

.wg-ongoing-spell-battlevision {
   [data-battle_vision="false"] {
      .battlevision_icon {
         display: flex;
         border: 2px solid white;
         background-position-x: -840px;
         background-position-y: -730px;
      }
   }
}

.wg-ongoing-spell-growth {
   .growth_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -130px;
      background-position-y: -427px;
   }
}

.wg-ongoing-spell-powerhungry {
   .powerhungry_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -45px;
      background-position-y: -849px;
   }
}

.wg-ongoing-spell-puppetmaster {
   [data-battle_vision="false"] {
      .puppetmaster_icon {
         display: flex;
         border: 2px solid white;
         background-position-x: -230px;
         background-position-y: -855px;
      }
   }
}

.wg-ongoing-spell-secretoath {
   [data-battle_vision="false"] {
      .secretoath_icon {
         display: flex;
         border: 2px solid white;
         background-position-x: -736px;
         background-position-y: -150px;
      }
   }
}

[data-discount-next-attack="1"] {
   .secondstrike_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -37px;
      background-position-y: -296px;
   }
}

[data-discount-next-spell="2"] {
   .haste_icon {
      display: flex;
      border: 2px solid white;
      background-position-x: -555px;
      background-position-y: -150px;
   }
}

.player-table-icon-tooltip {
   min-width: 250px;
   max-width: 350px;
}
