#current-player-table {
    margin: 20px 0;
    min-height: 131px;
}

#table-center {
   display: flex;
   gap: 20px;

   .deck {
      &[data-empty="true"] {
         border: 1px solid black;
         border-radius: 5px;
      }

      .bga-cards_deck-counter {
         --bga-cards-deck-counter-size: 25px;
      }
   }
}
