#table-center {
   display: flex;
   gap: 20px;
}

#spell-pool {
   max-height: 400px;
   align-content: center;
   --width: 120px;
   --height: 168px;
   width: calc((var(--width) + var(--gap)) * 4);

   .wg-spell-slot {
      width: var(--width);
      height: var(--height);
      border-radius: 5px;

      &:empty {
         border: 1px solid darkslategray;
      }
   }
}