#current-player-table {
   margin: 20px 0;
   min-height: 131px;
}

#table-center {
   display: flex;
   gap: 20px;
}

#spell-pool {
   max-height: 400px;
   align-content: center;
   --width: 120px;
   --height: 168px;

   .wg-spell-slot {
      width: var(--width);
      height: var(--height);
      border-radius: 5px;
      border: 1px solid darkslategray;
   }
}

@media only screen and (min-width: 1560px) {
   #spell-pool {
         flex-direction: row;
   }
}
