@import "cards";
@import "../node_modules/bga-zoom/bga-zoom";
@import "../node_modules/bga-cards/bga-cards";
@import "table-center";
@import "player-table";

#tables-and-center {
   position: relative;
   display: flex;
   // justify-content: center;
   justify-content: space-evenly;
   gap: 20px;
   // flex-direction: column;
   align-items: center;
   flex-flow: wrap;

   #tables {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 10px;
      flex-direction: row;
   }
}

.deck {
   &[data-empty="true"] {
      border: 1px solid black;
      border-radius: 5px;
   }

   .bga-cards_deck-counter {
      --bga-cards-deck-counter-size: 25px;
   }
}

.bgabutton {
   &.bgabutton_disabled {
      background: #e5e5ef;
      border: 1px solid #9090af;
      box-shadow: none;
      color: #9090af;
      text-shadow: none;
   }
}
