@import "cards";
@import "../node_modules/bga-zoom/bga-zoom";
@import "../node_modules/bga-cards/bga-cards";
@import "modal";
@import "table-center";
@import "player-table";
@import "game-options";

@font-face {
   font-family: "BrushSerifEdward";
   src: url("img/Brush_Serif_-_Edward.otf") format("opentype");
}

@font-face {
   font-family: "RoughAntiquaAllCaps";
   src: url("img/RoughAntiquaAllCaps.otf") format("opentype");
}

#game_play_area {
   #bga-zoom-wrapper {
      padding-top: 40px;
   }
}

#table {
   display: flex;
   justify-content: center;
}

#bga-zoom-wrapper {
   padding: 20px 0;
}

#tables-and-center {
   position: relative;
   display: flex;
   justify-content: center;
   gap: 20px;
   align-items: center;
   flex-flow: wrap;

   #tables {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      flex-direction: row;
   }
}

.wg-title {
   position: absolute;
   margin: -36px 0 0 0;
   border: 3px solid var(--color);
   border-radius: 5px;
   padding: 3px 10px;
   font-weight: 600;
   background-color: white;
}

.deck {
   &[data-empty="true"] {
      border: 1px solid black;
      border-radius: 5px;
   }

   .bga-cards_deck-counter {
      --bga-cards-deck-counter-size: 25px;
   }
}

.bgabutton {
   &.bgabutton_disabled {
      background: #e5e5ef;
      border: 1px solid #9090af;
      box-shadow: none;
      color: #9090af;
      text-shadow: none;
   }
}

#bga-jump-to_controls {
   display: flex;
   flex-direction: column;
}

// #bga-jump-to_spell-pool {
//    order: 50;
// }
// #bga-jump-to_table-center {
//    order: 51;
// }
